{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-mentionlegales.css') }}"/>
{% endblock %}

{% block title %}
	Portfolio Mentions Légales | Emeric Grall
{% endblock %}

{% block body %}


<div>

<header class="header">
	<div class="container-top">
		<h1>
			<a href="/" class="titre">Emeric Grall</a>
		</h1>
		<div class="ligne-navbar"></div>

		{# <a href="/log.php" class="btn">Connexion</a> #}
	</div>

	<div class="container-navbar">
		<a href="/presentation" class="link-mentions">Présentation</a>
		<a href="/competences" class="link-mentions">Compétences</a>
		<a href="/projet">Projets</a>
		{#<a href="/cc.html">Parcours</a> #}
		<a href="/certification" class="link-mentions">Certification</a>
		<a href="/veille-numerique" class="link-mentions">Veilles Numériques</a>
		{# <a href="/contact">Contact</a> #}
		<a href="/mention-legale" class="link-mentions">Mention Légales</a>

	</div>
	{% block javascripts %}
		{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
	{% endblock %}
</header>

		<div class="container">
			<h1 class="titre-mentions">Mentions Légales</h1>

			<section>
				<h2>1 - Édition du site</h2>
				<div class="section-content">
					<p>Conformément à l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, les utilisateurs du site
						<a href="https://emericgrall.fr">https://emericgrall.fr</a>
						sont informés de l'identité des intervenants :</p>
					<p class="contact-info">Propriétaire : Grall Emeric - Étudiant<br>
						Contact :
						<a href="mailto:emeric.grall@orange.fr">emeric.grall@orange.fr</a>
						- Tél : 06 47 26 12 41<br>
						Adresse : 9 Rue Chanoine Berenger, 50300 Avranches</p>
					<p>Identification de l'entreprise : Grall Emeric - Étudiant au capital social de 0€<br>
						Adresse : 9 Rue Chanoine Berenger, 50300 Avranches</p>
					<p>Directeur de la publication : Emeric Grall<br>
						Hébergeur : OVH SAS - 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1 - Téléphone : 1007</p>
					<p>Délégué à la protection des données : Emeric Grall -
						<a href="mailto:emeric.grall@orange.fr">emeric.grall@orange.fr</a>
					</p>
				</div>
			</section>

			<section>
				<h2>2 - Propriété intellectuelle et contrefaçons</h2>
				<div class="section-content">
					<p>Grall Emeric détient les droits de propriété intellectuelle et les droits d’usage sur tous les éléments du site, tels que textes, images, graphismes, logos, vidéos, etc.</p>
					<p>Toute reproduction ou utilisation non autorisée de ces éléments est interdite et constitue une contrefaçon.</p>
				</div>
			</section>

			<section>
				<h2>3 - Limitations de responsabilité</h2>
				<div class="section-content">
					<p>Grall Emeric ne pourra être tenu responsable des dommages causés au matériel de l’utilisateur lors de l'accès au site, ni de l’utilisation des informations présentes sur
						<a href="https://emericgrall.com">https://emericgrall.com</a>.</p>
					<p>Des espaces interactifs sont à la disposition des utilisateurs et tout contenu illégal sera supprimé sans mise en demeure préalable.</p>
				</div>
			</section>

			<section>
				<h2>4 - CNIL et gestion des données personnelles</h2>
				<div class="section-content">
					<p>Conformément à la loi 78-17 du 6 janvier 1978 modifiée, l’utilisateur dispose d’un droit d’accès, de modification et de suppression de ses informations. Pour exercer ce droit, contactez le Délégué à la Protection des Données :
						<a href="mailto:emeric.grall@orange.fr">emeric.grall@orange.fr</a>.</p>
					<p>Pour plus d'informations, veuillez consulter notre
						<a href="https://emericgrall/mention-legale">politique de confidentialité</a>.</p>
				</div>
			</section>

			<section>
				<h2>5 - Liens hypertextes et cookies</h2>
				<div class="section-content">
					<p>Le site
						<a href="https://emericgrall.com">https://emericgrall.com</a>
						contient des liens vers d’autres sites pour lesquels nous déclinons toute responsabilité. Des cookies peuvent également être installés sur votre ordinateur, pour une durée de 1 mois maximum.</p>
					<p>Pour plus d'informations, veuillez consulter notre
						<a href="https://emericgrall/mention-legale">politique de cookies</a>.</p>
				</div>
			</section>

			<section>
				<h2>6 - Droit applicable et attribution de juridiction</h2>
				<div class="section-content">
					<p>Tout litige en relation avec l’utilisation du site
						<a href="https://emericgrall.com">https://emericgrall.com</a>
						est soumis au droit français. En dehors des cas où la loi ne le permet pas, la juridiction compétente est celle de Avranches.</p>
				</div>
			</section>
		</div>
	</div>
</div>

{% endblock %}
