{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-competences.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-navbar.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-mentionlegales.css') }}"/>
{% endblock %}

{% block title %}
	Portfolio Mentions Légales | Emeric Grall
{% endblock %}

{% block body %}

		<div class="container">
			<h1>Mentions Légales</h1>

			<section>
				<h2>1 - Édition du site</h2>
				<div class="section-content">
					<p>Conformément à l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, les utilisateurs du site
						<a href="https://emericgrall.com">https://emericgrall.com</a>
						sont informés de l'identité des intervenants :</p>
					<p class="contact-info">Propriétaire : Grall Emeric - Étudiant<br>
						Contact :
						<a href="mailto:emeric.grall@orange.fr">emeric.grall@orange.fr</a>
						- Tél : 06 47 26 12 41<br>
						Adresse : 9 Rue Chanoine Berenger, 50300 Avranches</p>
					<p>Identification de l'entreprise : Grall Emeric - Étudiant au capital social de 0€<br>
						Adresse : 9 Rue Chanoine Berenger, 50300 Avranches</p>
					<p>Directeur de la publication : Emeric Grall<br>
						Hébergeur : OVH SAS - 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1 - Téléphone : 1007</p>
					<p>Délégué à la protection des données : Emeric Grall -
						<a href="mailto:emeric.grall@orange.fr">emeric.grall@orange.fr</a>
					</p>
				</div>
			</section>

			<section>
				<h2>2 - Propriété intellectuelle et contrefaçons</h2>
				<div class="section-content">
					<p>Grall Emeric détient les droits de propriété intellectuelle et les droits d’usage sur tous les éléments du site, tels que textes, images, graphismes, logos, vidéos, etc.</p>
					<p>Toute reproduction ou utilisation non autorisée de ces éléments est interdite et constitue une contrefaçon.</p>
				</div>
			</section>

			<section>
				<h2>3 - Limitations de responsabilité</h2>
				<div class="section-content">
					<p>Grall Emeric ne pourra être tenu responsable des dommages causés au matériel de l’utilisateur lors de l'accès au site, ni de l’utilisation des informations présentes sur
						<a href="https://emericgrall.com">https://emericgrall.com</a>.</p>
					<p>Des espaces interactifs sont à la disposition des utilisateurs et tout contenu illégal sera supprimé sans mise en demeure préalable.</p>
				</div>
			</section>

			<section>
				<h2>4 - CNIL et gestion des données personnelles</h2>
				<div class="section-content">
					<p>Conformément à la loi 78-17 du 6 janvier 1978 modifiée, l’utilisateur dispose d’un droit d’accès, de modification et de suppression de ses informations. Pour exercer ce droit, contactez le Délégué à la Protection des Données :
						<a href="mailto:emeric.grall@orange.fr">emeric.grall@orange.fr</a>.</p>
					<p>Pour plus d'informations, veuillez consulter notre
						<a href="https://emericgrall/mention-legale">politique de confidentialité</a>.</p>
				</div>
			</section>

			<section>
				<h2>5 - Liens hypertextes et cookies</h2>
				<div class="section-content">
					<p>Le site
						<a href="https://emericgrall.com">https://emericgrall.com</a>
						contient des liens vers d’autres sites pour lesquels nous déclinons toute responsabilité. Des cookies peuvent également être installés sur votre ordinateur, pour une durée de 1 mois maximum.</p>
					<p>Pour plus d'informations, veuillez consulter notre
						<a href="https://emericgrall/mention-legale">politique de cookies</a>.</p>
				</div>
			</section>

			<section>
				<h2>6 - Droit applicable et attribution de juridiction</h2>
				<div class="section-content">
					<p>Tout litige en relation avec l’utilisation du site
						<a href="https://emericgrall.com">https://emericgrall.com</a>
						est soumis au droit français. En dehors des cas où la loi ne le permet pas, la juridiction compétente est celle de Avranches.</p>
				</div>
			</section>
		</div>
	</div>
	{# 1 - Édition du site <br>
				<br>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet https://portfoliodeleo.fr l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:
				
				<br>Propriétaire du site : Emeric Grall, Etudiant en deuxième année du BTS SIO - Contact : emeric.grall@orange.fr | 06 47 26 12 41.
				
				<br>Identification de l'entreprise : Individuel , Etudiant en deuxième année du BTS SIO au capital social de N/A€ - SIREN : Non applicable - RCS ou RM : Non applicable - Adresse postale : 9 Rue Chanoine Berenger, 50300 Avranches
				
				<br>Directeur de la publication : - Contact : emeric.grall@orange.fr | 06 47 26 12 41.
				
				<br>Hébergeur :
				
				<br>Délégué à la protection des données :  
				
				<br>2 - Propriété intellectuelle et contrefaçons
				<br>
				
				<br>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de style-navbar.css, Etudiant en deuxième année du BTS SIO.
				
				<br>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.<br>
				
				<br>3 - Limitations de responsabilité<br>
				
				<br>Des espaes interactifs (espace contact ou commentaires) sont à la disposition des utilisateurs. style-navbar.css, Etudiant en deuxième année du BTS SIO, se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données.<br>
				
				<br>Le cas échéant, style-navbar.css, Etudiant en deuxième année du BTS SIO, se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).<br>
				
				<br>4 - CNIL et gestion des données personnelles<br>
				<br>Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’utilisateur du site  dispose d’un droit d’accès, de modification et de suppression des informations collectées. Pour exercer ce droit, envoyez un message à notre Délégué à la Protection des Données : emeric.grall@orange.fr | 06 47 26 12 41.<br>	
				
				<br>Pour plus d'informations sur la façon dont nous traitons vos données (type de données, finalité, destinataire...), lisez notre mention légale.<br>
				
				<br>5 - Liens hypertextes<br>
				<br>Le site contient des liens hypertextes vers d’autres sites et dégage toute responsabilité à propos de ces liens externes ou des liens créés par d’autres sites vers .
				
				<br>6 - Droit applicable et attribution de juridiction<br>
				<br>Tout litige en relation avec l’utilisation du site  est soumis au droit français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Coutances.
					</div> #}

{% endblock %}
