{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-mentionlegales.css') }}"/>
{% endblock %}

{% block title %}
	Portfolio Mentions Légales | Emeric Grall
{% endblock %}

{% block body %}


<div>

<header class="header">
	<div class="container-top">
		<h1>
			<a href="/" class="titre">Emeric Grall</a>
		</h1>
		<div class="ligne-navbar"></div>

		{# <a href="/log.php" class="btn">Connexion</a> #}
	</div>

	<div class="container-navbar">
		<a href="/presentation" class="link-mentions">Présentation</a>
		<a href="/competences" class="link-mentions">Compétences</a>
		<a href="/projet">Projets</a>
		{#<a href="/cc.html">Parcours</a> #}
		<a href="/certification" class="link-mentions">Certification</a>
		<a href="/veille-numerique" class="link-mentions">Veilles Numériques</a>
		{# <a href="/contact">Contact</a> #}
		<a href="/mention-legale" class="link-mentions">Mention Légales</a>

	</div>
	{% block javascripts %}
		{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
	{% endblock %}
</header>

		<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentions Légales</title>
</head>

<body>
    <div class="container">
        <h1>Mentions Légales</h1>

        <!-- Section 1 -->
        <section>
            <h2>1 - Édition du site</h2>
            <div class="section-content">
                <p>Conformément à l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, les utilisateurs du site <a href="https://emeric-grall.fr" target="_blank">emeric-grall.fr</a> sont informés des intervenants suivants :</p>
                <p><strong>Propriétaire :</strong> Emeric Grall<br>
                    <strong>Adresse :</strong> 9 Rue Chanoine Berenger, 50300 Avranches<br>
                    <strong>Contact :</strong> <a href="mailto:emeric.grall@orange.fr">emeric.grall@orange.fr</a> - Tél : 06 47 26 12 41
                </p>
                <p><strong>Hébergeur :</strong> Ionos<br>
                    EURL au capital de 100 000 Euros<br>
                    Adresse : 7 place de la Gare, 57200 Sarreguemines, France<br>
                    Téléphone : 1007
                </p>
            </div>
        </section>

        <!-- Section 2 -->
        <section>
            <h2>2 - Propriété intellectuelle et contrefaçons</h2>
            <div class="section-content">
                <p>Grall Emeric est le propriétaire exclusif des droits de propriété intellectuelle sur tous les éléments accessibles sur le site (textes, images, graphismes, icônes, logiciels, etc.). Toute reproduction, même partielle, est interdite sans autorisation écrite préalable. Les violations sont passibles de poursuites conformément aux articles L.335-2 et suivants du Code de la Propriété Intellectuelle.</p>
            </div>
        </section>

        <!-- Section 3 -->
        <section>
            <h2>3 - Limitations de responsabilité</h2>
            <div class="section-content">
                <p>Grall Emeric ne pourra être tenu responsable des dommages matériels liés à l'utilisation du site. Les utilisateurs accèdent au site à leurs propres risques.</p>
                <p>Le site peut contenir des liens hypertextes vers d’autres sites. Grall Emeric décline toute responsabilité concernant le contenu de ces sites.</p>
            </div>
        </section>

        <!-- Section 4 -->
        <section>
            <h2>4 - Gestion des données personnelles</h2>
            <div class="section-content">
                <p>Conformément à la loi n°78-17 du 6 janvier 1978 et au RGPD, l’utilisateur dispose d’un droit d’accès, de rectification et de suppression de ses données personnelles. Pour exercer ce droit, contactez : <a href="mailto:emeric.grall@orange.fr">emeric.grall@orange.fr</a>.</p>
                {# <p>Pour plus d'informations, consultez notre <a href="https://emeric-grall.fr/politique-de-confidentialite" target="_blank">politique de confidentialité</a>.</p> #}
            </div>
        </section>

        <!-- Section 5 -->
        <section>
            <h2>5 - Cookies et liens hypertextes</h2>
            <div class="section-content">
                <p>Lors de votre navigation sur <a href="https://emeric-grall.fr" target="_blank">emeric-grall.fr</a>, des cookies peuvent être installés sur votre ordinateur pour optimiser votre expérience utilisateur. Vous pouvez configurer votre navigateur pour bloquer les cookies.</p>
                {# <p>Pour plus d'informations, consultez notre <a href="https://emeric-grall.fr/politique-de-cookies" target="_blank">politique de cookies</a>.</p> #}
            </div>
        </section>

        <!-- Section 6 -->
        <section>
            <h2>6 - Droit applicable</h2>
            <div class="section-content">
                <p>Tout litige lié à l’utilisation du site <a href="https://emeric-grall.fr" target="_blank">emeric-grall.fr</a> est soumis au droit français. En dehors des cas où la loi ne le permet pas, la juridiction compétente est celle d’Avranches.</p>
            </div>
        </section>
    </div>
</body>

</html>

	</div>
</div>

{% endblock %}
