{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-competences.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-navbar.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
{% endblock %}

{% block title %}
	Portfolio Mentions Légales | Emeric Grall
{% endblock %}

{% block body %}

	<div class="container-main">
	<h1>Mentions Légales</h1>

1 - Édition du site <br>
<br>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet https://portfoliodeleo.fr l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:

<br>Propriétaire du site : Emeric Grall, Etudiant en deuxième année du BTS SIO - Contact : emeric.grall@orange.fr | 06 47 26 12 41.

<br>Identification de l'entreprise : Individuel , Etudiant en deuxième année du BTS SIO au capital social de N/A€ - SIREN : Non applicable - RCS ou RM : Non applicable - Adresse postale : 9 Rue Chanoine Berenger, 50300 Avranches

<br>Directeur de la publication : - Contact : emeric.grall@orange.fr | 06 47 26 12 41.

<br>Hébergeur :

<br>Délégué à la protection des données :  

<br>2 - Propriété intellectuelle et contrefaçons
<br>

<br>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de style-navbar.css, Etudiant en deuxième année du BTS SIO.

<br>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.<br>

<br>3 - Limitations de responsabilité<br>

<br>Des espaces interactifs (espace contact ou commentaires) sont à la disposition des utilisateurs. style-navbar.css, Etudiant en deuxième année du BTS SIO, se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données.<br>

<br>Le cas échéant, style-navbar.css, Etudiant en deuxième année du BTS SIO, se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).<br>

<br>4 - CNIL et gestion des données personnelles<br>
<br>Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’utilisateur du site  dispose d’un droit d’accès, de modification et de suppression des informations collectées. Pour exercer ce droit, envoyez un message à notre Délégué à la Protection des Données : emeric.grall@orange.fr | 06 47 26 12 41.<br>	

<br>Pour plus d'informations sur la façon dont nous traitons vos données (type de données, finalité, destinataire...), lisez notre mention légale.<br>

<br>5 - Liens hypertextes<br>
<br>Le site contient des liens hypertextes vers d’autres sites et dégage toute responsabilité à propos de ces liens externes ou des liens créés par d’autres sites vers .

<br>6 - Droit applicable et attribution de juridiction<br>
<br>Tout litige en relation avec l’utilisation du site  est soumis au droit français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Coutances.
	</div>

{% endblock %}
