{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/style.css') }}" /> 
{% endblock %}

{% block title %}
	Portfolio Mentions Légales | Emeric Grall
{% endblock %}

{% block body %}


	<header>
		<div class="container-top">
			<h1>
				<a href="/">Emeric Grall</a>
			</h1>
			<div class="ligne"></div>

			<a href="/log.php" class="btn">Connection</a>
		</div>


		<div class="container-navbar">
			<a href="/presentation">Présentation</a>
			<a href="/competences">Compétences</a>
			{# <a href="/cc.html">Projets</a>
			<a href="/cc.html">Parcours</a> #}
			<a href="/certification">Certification</a>
			<a href="/veille-numerique">Veilles Numériques</a>
			<a href="/contact">Contact</a>
            <a href="/mention-legale">Mention Légales</a>
		</div>
	</header>

	<div
		class="container-main"><!-- contenu principal -->
	</div>

    <div class="container-">

    </div>



{% endblock %}
