{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" /> 
{% endblock %}

{% block title %}
	Portfolio Certifications | Emeric Grall
{% endblock %}

{% block body %}
    
    <div class="container-main"></div>

{% endblock %}
