{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-navbar.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-certification.css') }}"/>
	<script src="js/script.js"></script>
{% endblock %}

{% block title %}
	Portfolio Certifications | Emeric Grall
{% endblock %}

{% block body %}

	<main class="container-main">
		<section class="certification-section">
			<h1>Mes Certifications</h1>

			<div class="certification-card" onclick="openModal()">
				<img src="images/it-hardware.png" alt="Certification Image" class="certification-image">
				<p>Certification it-hardware sur cisco networking academy</p>
			</div>
		</section>
	</main>

	<div id="modal" class="modal">
		<div class="modal-content">
			<span class="close-button" onclick="closeModal()">&times;</span>
			<h2>Certification en Développement Web</h2>
			<p>Cette certification m'a été utile pour revoir les bases du matériel informatique</p>
		</div>
	</div>
	<div class="">
		<h3>Certification en cours</h3>
		<span>
			Comme certification que je suis en train de poursuivre :
			<br>
			<br>
			- Learn JavaScript sur CodeCademy<br>
			- Learn CSS sur CodeCademt<br>
			- Les modules MOOC sur SecNum academy<br>
		</span>
	</div>
{% endblock %}
