{% extends 'base.html.twig' %}

{% block stylesheets %}
	
	
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-certification.css') }}"/>
	<script src="js/script.js"></script>
{% endblock %}

{% block title %}
	Portfolio Certifications | Emeric Grall
{% endblock %}

{% block body %}

<div class="container-certif-global">


	<header class="header">
		<div class="container-top">
			<h1>
				<a href="/" class="titre">Emeric Grall</a>
			</h1>
			<div class="ligne-navbar"></div>

			{# <a href="/log.php" class="btn">Connexion</a> #}
		</div>

		<div class="container-navbar">
			<a href="/presentation" class="link-mentions">Présentation</a>
			<a href="/competences" class="link-mentions">Compétences</a>
			<a href="/projet">Projets</a>
			{# <a href="/cc.html">Parcours</a> #}
			<a href="/certification" class="link-mentions">Certification</a>
			<a href="/veille-numerique" class="link-mentions">Veilles Numériques</a>
			{# <a href="/contact">Contact</a> #}
			<a href="/mention-legale" class="link-mentions">Mention Légales</a>

		</div>
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</header>

	<div class="container-certif">
		<div class="certifications-container-titre">
			<h1 class="certifications-titre">Mes Certifications</h1>
		</div>

		<div class="certifications-container-fini">
			<h1 class="certifications-titre-fini">Certifications Fini</h1>
			<div class="certification-card" onclick="openModal()">
				<img src="images/it-hardware.png" alt="Certification Image" class="certification-image">
				<p>Certification it-hardware sur cisco networking academy</p>
			</div>

		</div>

		<div class="certifications-container-encours">

			<h1 class="certifications-encours-titre">Certifications en cours</h1>
			<ul class="liste-certifications">
				<li class="li">Learn JavaScript sur CodeCademy</li>
				<li class="li">Learn CSS sur CodeCademy</li>
				<li class="li">Les modules MOOC sur SecNum academy</li>
			</ul>
		</div>
	</div>
</div>
		{% endblock %}
