{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-competences.css') }}"/>

{% endblock %}

{% block title %}
	Portfolio Compentence | Emeric Grall
{% endblock %}

{% block body %}


<div class="container-competence">

<header class="header">
	<div class="container-top">
		<h1>
			<a href="/" class="titre">Emeric Grall</a>
		</h1>
		<div class="ligne-navbar"></div>

		{# <a href="/log.php" class="btn">Connexion</a> #}
	</div>

	<div class="container-navbar">
		<a href="/presentation" class="link-mentions">Présentation</a>
		<a href="/competences" class="link-mentions">Compétences</a>
		<a href="/projet">Projets</a>
		{#<a href="/cc.html">Parcours</a> #}
		<a href="/certification" class="link-mentions">Certification</a>
		<a href="/veille-numerique" class="link-mentions">Veilles Numériques</a>
		{# <a href="/contact">Contact</a> #}
		<a href="/mention-legale" class="link-mentions">Mention Légales</a>

	</div>
	{# {% block javascripts %}
		{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
	{% endblock %} #}
</header>



		<div class="skills-container">
			<div class="skill-card">
				<img src="images/logo-html.png" alt="HTML Icon">
				<p>HTML</p>
			</div>
			<div class="skill-card">
				<img src="images/logo-css.png" alt="CSS Icon">
				<p>CSS</p>
			</div>
			<div class="skill-card">
				<img src="images/logo-php.png" alt="PHP Icon">
				<p>PHP</p>
			</div>
			<div class="skill-card">
				<img src="images/logo-python.png" alt="Python Icon">
				<p>Python</p>
			</div>
			<div class="skill-card">
				<img src="images/logo-symfony.png" alt="Symfony Icon">
				<p>Symfony</p>
			</div>
			<div class="skill-card">
				<img src="images/logo-javascript.png" alt="JavaScript Icon">
				<p>JavaScript</p>
			</div>
			<div class="skill-card">
				<img src="images/logo-sql.png" alt="SQL Icon">
				<p>SQL</p>
			</div>
		</div>
</div>

	
</section>{% endblock %}
