{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
{% endblock %}

{% block title %}
	Portfolio compentence| Emeric Grall
{% endblock %}

{% block body %}


<div class="container-main">


<section class="skills-container">
      <div class="skill-card">
        <img src="images/html.png" alt="HTML Icon">
        <p>HTML</p>
      </div>
      <div class="skill-card">
        <img src="images/css.png" alt="CSS Icon">
        <p>CSS</p>
      </div>
      <div class="skill-card">
        <img src="images/javascript.png" alt="JavaScript Icon">
        <p>JavaScript</p>
      </div>
      <div class="skill-card">
        <img src="images/python.png" alt="Python Icon">
        <p>Python</p>
      </div>
      <div class="skill-card">
        <img src="images/java.png" alt="Java Icon">
        <p>Java</p>
      </div>
      <div class="skill-card">
        <img src="images/php.png" alt="PHP Icon">
        <p>PHP</p>
      </div>
    </section>


</div>




	{% endblock %}
