body {
  margin: 0;
  font-family: "Roboto";
  display: flex;
  flex-direction: row;
}

header {
  background-color: #474B4F;   /* #1b1b38 */
  height: 100vh;
  width: 350px;
  display: block;
}

.container-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.container-navbar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
  font-size: 23px;
  transition: 300ms all ease-in-out;
}

.container-navbar a:hover {
  background-color: gray;
  text-decoration: none;
}

.ligne-navbar {
  background-color: white;
  width: 200px;
  height: 4px;
  border-radius: 25px;
}

.container-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.btn {
  background-color: blue;
  border: none;
  height: 55px;
  width: 180px;
  border-radius: 20px;
  margin-top: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 80%;
  transition: 150ms opacity ease-in-out;
  font-weight: bold;
}

.btn:hover {
  opacity: 100%;
}

.container-top a {
  color: white;
  text-decoration: none;
}

.container-index {
  background-color: red;   /*#1d1d3b */
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container-main {
  background-color: white; /*#222629*/
  width: 100%;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}

.container-textmain{
  background-color: brown;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-left: 20px;
}

.container-titlemain{
  background-color: green; 
  height: 10vh;
  width: 100%;
  margin-left: 20px;
}

.container-textmain span {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}