{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" /> 
{% endblock %}

{% block title %}
	Portfolio Présentaiton | Emeric Grall
{% endblock %}

{% block body %}


	<div class="container-main">
	<div class="container-titlemain">
		<h1>A propos de moi</h1> {#  ajoute du margin pour bien le placer comment on fait deja ?  margin-top margin-left  ok merci #}
	</div>
		 <div class="container-textmain"> {#la met une width et height avec un background comme jtai dit pour voir et utilise du flexbox pour placer comme tu veux tes elements oui ok  #}
			<span>
				Je m'appelle Emeric Grall, j'ai 20 ans et je suis en seconde années d'un BTS SIO (Services informatiques aux organisations), au lycée Notre Dame De La Providence dans la spécialité SLAM(Solutions Logicielles et Applications Métiers ).
				<br>De plus une option prépa pour me permettre de rejoindre une école d'ingenieur par la suite.
			</span> 
		
	</div>
{% endblock %}
