{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-competences.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-navbar.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
{% endblock %}

{% block title %}
	Portfolio Présentaiton | Emeric Grall
{% endblock %}

{% block body %}


	<div class="container-main">
		<div class="container-titlemain">
			<h1>À propos de moi</h1>
		</div>
		<div class="container-spe">

			<h3 align="center">Présentation</h3>
			<span>
				Bonjour,<br>
				Je m'appelle Emeric Grall, j'ai 20 ans et je suis actuellement en deuxième année de
				<a href="/filieres">BTS SIO</a>
				(Services Informatiques aux Organisations) au lycée Notre Dame de La Providence.
				<br>
				J'ai choisi la spécialité SLAM (Solutions Logicielles et Applications Métiers).<br>
				Cette formation me permet de développer des compétences en programmation, création d’applications, et gestion de bases de données, des domaines qui me passionnent particulièrement.<br>
				En parallèle, j'ai choisi de suivre une option prépa intégrée, qui me prépare aux exigences d'une école d'ingénieur en informatique.<br>
				Mon objectif est de poursuivre mes études dans une école d’ingénieurs après mon BTS afin de renforcer mon expertise technique et d'approfondir mes connaissances pour devenir ingénieur en développement logiciel.<br>
			</span>
		</span>

		<h3 align="center">Mon parcours</h3>
		<span>
			<h3>Brevet</h3>
			J'ai obtenu mon brevet au collège Francois-brune à Pleine-Fougères<br>
			<b>de 2015 à 2019</b><br>
			<h3>Baccalauréat professionnel</h3>
			J'ai obtenu mon Baccalauréat professionnel systèmes numériques à Saint-Malo<br>
			<b>de 2020 à 2023</b><br>
			<h3>BTS SIO</h3>
			Actuellement en seconde année d'un BTS SIO option slam
			<br>
			<b>de 2023 à 2025</b><br>
		</span>

	</div>
	{# TODO METTRE CV et lien filiaire #}

	<section id="CV">
      <iframe
      src="images/CV_Emeric_Grall_2024.pdf"
      width="100%" 
      height="600px" 
      allowfullscreen 
      frameborder="0" 
      ></iframe>
      <hr>
      <a href="images/CV_Emeric_Grall_2024.pdf" download="CV_Emeric_Grall">Télécharger mon CV</a>
      </section>
      <hr>


{% endblock %}
