{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/style.css') }}" /> 
{% endblock %}

{% block title %}
	Portfolio Mentions Légales | Emeric Grall
{% endblock %}

{% block body %}


	<header>
		<div class="container-top">
			<h1>
				<a href="/">Emeric Grall</a>
			</h1>
			<div class="ligne"></div>

			<a href="/log.php" class="btn">Connection</a>
		</div>


		<div class="container-navbar">
			<a href="/presentation">Présentation</a>
			<a href="/competences">Compétences</a>
			{# <a href="/cc.html">Projets</a>
			<a href="/cc.html">Parcours</a> #}
			<a href="/certification">Certification</a>
			<a href="/veille-numerique">Veilles Numériques</a>
			<a href="/contact">Contact</a>
            <a href="/mention-legale">Mention Légales</a>
		</div>
	</header>

	<div class="container-main">
		<h1>A propos de moi</h1> {# // ajoute du margin pour bien le placer comment on fait deja ?  margin-top margin-left  ok merci#}

		 <div> {#la met une width et height avec un background comme jtai dit pour voir et utilise du flexbox pour placer comme tu veux tes elements oui ok  #}
			<span>
				je m'apelle emeric Grall j'ai 20 ans je suis a la recherche de toi 
			</span> 
		</div>
	</div>
{% endblock %}
