{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style-cv.css') }}"/>
{% endblock %}

{% block title %}
	Portfolio Présentation | Emeric Grall
{% endblock %}

{% block body %}



<div class="container-cv-global">

	<header class="header">
		<div class="container-top">
			<h1>
				<a href="/" class="titre">Emeric Grall</a>
			</h1>
			<div class="ligne-navbar"></div>

			{# <a href="/log.php" class="btn">Connexion</a> #}
		</div>

		<div class="container-navbar">
			<a href="/presentation" class="link-mentions">Présentation</a>
			<a href="/competences" class="link-mentions">Compétences</a>
			<a href="/projet">Projets</a>
			{#<a href="/cc.html">Parcours</a> #}
			<a href="/certification" class="link-mentions">Certification</a>
			<a href="/veille-numerique" class="link-mentions">Veilles Numériques</a>
			{# <a href="/contact">Contact</a> #}
			<a href="/mention-legale" class="link-mentions">Mention Légales</a>

		</div>
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</header>


	<div class="container-cv">
		<div class="container-titlemain">
			<h1>À propos de moi</h1>
		</div>
		<div class="container-spe">

			<h3 align="center">Présentation</h3>
			<span>
				Bonjour,<br>
				Je m'appelle Emeric Grall, j'ai 20 ans et je suis actuellement en deuxième année de
				<a href="/filieres">BTS SIO</a>
				(Services Informatiques aux Organisations) au lycée Notre Dame de La Providence.
				<br>
				J'ai choisi la spécialité SLAM (Solutions Logicielles et Applications Métiers).<br>
				Cette formation me permet de développer des compétences en programmation, création d’applications, et gestion de bases de données, des domaines qui me passionnent particulièrement.<br>
				En parallèle, j'ai choisi de suivre une option prépa intégrée, qui me prépare aux exigences d'une école d'ingénieur en informatique.<br>
				Mon objectif est de poursuivre mes études dans une école d’ingénieurs après mon BTS afin de renforcer mon expertise technique et d'approfondir mes connaissances pour devenir ingénieur en développement logiciel.<br>
			</span>
			<h3 align="center">Contact</h3>
			<span>
			Email : emeric.grall@orange.fr<br>
			Telephone : 06 47 26 12 41<br>
			GitHub : https://github.com/Spitskyyy<br>
			LinkdIn : www.linkedin.com/in/emeric-grall<br>
			</span>
		</div>

		<section id="CV-and-parcours">
			<div id="parcours">
				<h2>Mon parcours</h2>
				<div class="parcours-item">
					<h3>Brevet</h3>
					<p>J'ai obtenu mon brevet au collège Francois-brune à Pleine-Fougères<br>de 2015 à 2019</p>
				</div>
				<div class="parcours-item">
					<h3>Baccalauréat professionnel</h3>
					<p>J'ai obtenu mon Baccalauréat professionnel systèmes numériques à Saint-Malo<br>de 2020 à 2023</p>
				</div>
				<div class="parcours-item">
					<h3>BTS SIO</h3>
					<p>Actuellement en seconde année d'un BTS SIO option SLAM<br>de 2023 à 2025</p>
				</div>
			</div>
			<div id="cv-container">
				<iframe src="images/CV_Emeric_Grall_2024.pdf" width="100%" height="600px" allowfullscreen frameborder="0"></iframe>
				<hr>
				<a href="images/CV_Emeric_Grall_2024.pdf" download="CV_Emeric_Grall">Télécharger mon CV</a>
			</div>
		</section>
	</div>
</div>


{% endblock %}
