{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
{% endblock %}

{% block title %}
	Portfolio Acceuil | Emeric Grall
{% endblock %}

{% block body %}


	<div class="container-index">
		<h1>Emeric Grall</h1>
		<div class="ligne-maintext"></div>
		<h1>Bienvenue sur mon Portofolio</h1>
	</div>

{% endblock %}
