{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style-navbar.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style-certification.css') }}"/> 
{% endblock %}

{% block title %}
	Portfolio Mentions Légales | Emeric Grall
{% endblock %}

{% block body %}

	<div
		class="container-main"><!-- contenu principal -->
	</div>

{% endblock %}
