{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style-navbar.css') }}" /> 
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style-certification.css') }}"/>
{% endblock %}

{% block title %}
	Portfolio Contact | Emeric Grall
{% endblock %}

{% block body %}


	<div class="container-main">
	Email : emric.grall@orange.fr<br>
	Telephone : 06 47 26 12 41
	</div>

{% endblock %}
