{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" /> 
{% endblock %}

{% block title %}
	Portfolio Experience | Emeric Grall
{% endblock %}

{% block body %}

	<div
		class="container-main"><!-- contenu principal -->
	</div>

{% endblock %}
